//
// INDECON Mixins collection
//

@mixin vertical-align($position) {
    position: $position;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin horisontal-align($position) {
    position: $position;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

@mixin drop-shadow($x, $y, $w) {
    -webkit-filter: drop-shadow($x $y $w $black);
            filter: drop-shadow($x $y $w $black);
}

@mixin transition() {
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}