//  INDECON Variables
//  -----------------------------
//
//  Table of Contents:
//
//   1. Typography


// 1. TYPOGRAPHY
$type-xxl: rem-calc(34);
$type-xl: rem-calc(22);
$type-l: rem-calc(20);
$type-m: rem-calc(16);
$type-s: rem-calc(15);
$type-xs: rem-calc(12);
$type-xxs: rem-calc(11);


// 1. SPACING
$global-offcet: 30px;