//  Wine In Black common styles
//  -----------------------------
//
//  Table of Contents:
//
//   1. Global
//   2. Breakpoints
//   3. The Grid
//   4. Base Typography
//   5. Typography Helpers
//   6. Abide
//   7. Accordion
//   8. Accordion Menu
//   9. Badge
//  10. Breadcrumbs
//  11. Button
//  12. Button Group
//  13. Callout
//  14. Close Button
//  15. Drilldown
//  16. Dropdown
//  17. Dropdown Menu
//  18. Flex Video
//  19. Forms
//  20. Label
//  21. Media Object
//  22. Menu
//  23. Off-canvas
//  24. Orbit
//  25. Pagination
//  26. Progress Bar
//  27. Reveal
//  28. Slider
//  29. Switch
//  30. Table
//  31. Tabs
//  32. Thumbnail
//  33. Title Bar
//  34. Tooltip
//  35. Top Bar


//
// 1. GLOBAL
//
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

header {
    padding: rem-calc(50 0);
}

main {
    padding-bottom: rem-calc(50);
    background: transparent url('../images/indecon_splash.jpg') center -220px no-repeat;
    background-size: cover;
    min-height: 100%;
    position: relative;

    @media #{$large-up} {
        background-size: contain;
    }
}

section {
    padding: rem-calc(30 0);
    color: $white;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: $black;
    padding: $global-margin 0;

    * {
        color: scale-color($green, $lightness: 0%);
        font-size: $type-s;
    }
}

.disabled {
    color: $light-gray;
}

//
// 5. TYPOGRAPHY
//
// font sizes
//
.type-xxl {
    font-size: $type-xxl;
}
.type-xl {
    font-size: $type-xl;
}
.type-l {
    font-size: $type-l;
}
.type-m {
    font-size: $type-m;
}
.type-s {
    font-size: $type-s;
}
.type-xs {
    font-size: $type-xs;
}
.type-xxs {
    font-size: $type-xxs;
}

//
// lists
//
.block-list {
    list-style: none outside none;
    margin: 0;
}
.inline-list {
    @extend .block-list;

    float: left;
}

//
// headers
//
h3,h4,h5 {
    text-transform: uppercase;
}

//
//  11. BUTTONS
//
button, .button {
    text-transform: uppercase;

    &.rounded {
        border-radius: rem-calc(8);
    }

    &.outlined {
        background: transparent;
        color: $white;
        border: 2px solid $white;
    }
}

.top-bar {
    color: $white;
}